<div class="container w-50 d-flex justify-content-center">
  <div>
    <h1 class="my-5">All the pets found</h1>

    <ul>
      <% @pets.each do |pet| %>
        <li><%= link_to pet.name, pet_path(pet) %> --> found <%= pet.found_days_ago %> days ago</li>
      <% end %>
    </ul>

    <%= link_to "New Pet discovered", new_pet_path, class: "mt-5 w-100 btn btn-primary" %>
  </div>
</div>
